.input:focus {
}

.input {
  width: 327px;
  height: 36px;
  border-color: D1D1D1;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
  border-color: red;
}

.errorInput:focus {
  border-color: red;
}

.error {
  color: red;
}
